<h1> Sign Up </h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>


<!-- <h1> Sign Up </h1>
<%= form_for :user, url: "/users" do |f| %>
  <li> Name: <%= f.text_field :user_name %> </li>
  <li> Company Name: <%= f.text_field :company_name %> </li>
  <li> Town: <%= f.text_field :town %> </li>
  <li> Borrower: <%= f.text_field :borrower %> </li>
  <li> Password: <%= f.password_field :password %> </li>
  <li> Password Confirmation: <%= f.password_field :password_confirmation %> </li>

  <%= f.submit "Sign Up" %>
<% end %> -->
