<h1> Loan Profile Details </h1>
<p>
  <strong>Loan ID:</strong>
  <%= @loan.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @loan.title %>
</p>

<p>
  <strong>Caterory</strong>
  <%= @loan.category %>
</p>

<p>
  <strong>Loan Amount:</strong>
  <%= @loan.loan_amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan.loan_description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @loan.location %>
</p>

<p>
  <strong>Start Date</strong>
  <%= @loan.start_date %>
</p>

<p>
  <strong>Interest Rate</strong>
  <%= @loan.interest_rate %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back to Loan Index', loans_path %>
