<!DOCTYPE html>
<%= stylesheet_link_tag("style.css") %>
<html>
<head>
  <title>FundingMatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Lending Pal - Match Lending Site </h1>

<div style="text-align: center; padding-bottom: 20px;">
      <div style="display: inline;">
        <% if current_user %>
          Signed in as <%= current_user.user_name %> | <%= link_to "logout", "/logout" %>
      <% else %>
        <%= link_to "Login", "/login" %> | <%= link_to "Sign Up", new_user_path%>
      <% end %>
    </div>


<%= yield %>

</body>
</html>
